<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Happy Travelling</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Happy Travelling</h1>
        <hr>
        <h2>Update Penerbangan</h2>

        <form action="#" th:action="@{/savePenerbangan}" th:object="${penerbangan}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />

           <input type="text" th:field="*{namaAsal}" placeholder="Nama Asal" class="form-control mb-4 col-4">
				
			<input type="text" th:field="*{namaTujuan}" placeholder="Nama Tujuan" class="form-control mb-4 col-4">
			
			<input type="text" th:field="*{tanggalKeberangkatan}" placeholder="Tanggal Keberangkatan" class="form-control mb-4 col-4">
				
			<input type="text" th:field="*{tanggalKedatangan}" placeholder="Tanggal Kedatangan" class="form-control mb-4 col-4">
			
			<input type="text" th:field="*{jumlah}" placeholder="Jumlah Penumpang" class="form-control mb-4 col-4">
			
            <button type="submit" class="btn btn-info col-2"> Update Penerbangan</button>
        </form>

        <hr>

        <a th:href="@{/}"> Back to Penerbangan List</a>
    </div>
</body>

</html>